* {
  margin: 0;
}

.App {
  background-color: #fafafa;
}
.app_posts {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app_postsRight {
  margin-left: 30px;
}

.app-signUp {
  display: flex;
  flex-direction: column;
}

.app_headerImage {
  object-fit: contain;
}

.app_header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  padding: 20px;
  display: flex;
  object-fit: contain;
  border-bottom: 1px solid lightgray;
  justify-content: space-between;
}

@media only screen and (max-width: 900px) {
  .app_posts {
    display: block !important;
  }
 } 