.Post {
    background-color: white;
    max-width: 500px;
    border: 1px solid lightgray;
    padding: 5px;
    margin-bottom: 45px;
}

.post-img {
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.post_stats {
    display: flex;
    width: 25%;
    object-fit: contain;
    margin: 10px;
}

.post_stats_commentIcon {
    height: 3.5em;
    margin-top: -12px;
}

.post_stats_likeIcon {
    height: 2em;
    margin-top: 0.5px;
}

.post_stats_shareIcon {
    height: 2em;
    margin-top: 0.5px;
}

.post-text {
    font-weight: normal;
    padding-top: 0px;
    padding-left: 15px;
    padding-bottom: 0px;
}
.post-userName {
    padding-right: 5px;
    padding-left: 5px;
}

.Post_header {
    display: flex;
    align-items: center;
    padding: 20px 10px;
}

.post_commentBox {
    display: flex;
    margin-top: 10px;
}

.post_comments {
    padding: 20px;
}

.post_input {
    flex: 1;
    border: none;
    padding: 10px;
    border-top: 1px solid lightgray;
}

.post_button {
    flex: 0;    
    border: none;
    border-top: 1px solid lightgray;
    color: #6082a3;
    background-color: transparent;
}

.post-avatar {
    margin-right: 10px;
}